<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>Lacks</title>
<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css'>
<link rel="stylesheet" href="./css/foundation.css">
<link rel="stylesheet" href="./css/app.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<!-- partial:index.partial.html -->
<main>
<nav class="sidebar">
    <div class="sidebar__head">
    <h1>UofU-VIRT-FSF-PT-06-2023..</h1>
    <div class="sidebar__head__name"><i class="circle"></i><span class="op--80"> Group-02</span></div>
    </div>
    <div class="sections op--80">
    <div class="sections__title"><i class="icon-arrow-down"></i>Channels</div><a class="sections__item" data-switch="css-anim"> <span># </span><span>css-animations</span></a><a class="sections__item" data-switch="css-grid"> <span># </span><span>css-grid</span></a><a class="sections__item" data-switch="css-illu"> <span># </span><span>css-illustrations</span></a><a class="sections__item" data-switch="js-things"> <span># </span><span>js-things</span></a><a class="sections__item" data-switch="collections"> <span># </span><span>just-collections</span></a><a class="sections__item active" data-switch="random"> <span># </span><span>random</span></a>
    </div>
    <div class="sections op--80">
    <div class="sections__title"> <i class="icon-arrow-down"></i>Direct Messages</div><a class="sections__item no"><i class="circle"></i>Deastanii Spackman</a><a class="sections__item no"><i class="circle"></i>Jeremy Rapich</a><a class="sections__item no"><i class="circle"></i>Patrick O'Dea</a><a class="sections__item no"><i class="circle"></i>Diego Yavara</a>
    </div>
</nav>
<section class="main-content">
    <div class="channel active" id="random">
    <div class="channel__header">
        <h2># random</h2>
        <div class="channel__header__info"> <i class="icon-rocket"></i><span>+ Add a Bookmark</span><span class="explanation">Memes and Randoms</span></div>
    </div>
    <div class="channel__body">
    <div class="channel__input">
        <input type="text" placeholder="Comment"/>
        <button class="js-emoji"><i class="icon-emotsmile"></i></button>
    </div>
    </div>
</section>
<button type="button" class="submit button" id="logoutButton">Logout</button>
</main>
<div class="emoji-roll">😃</div>
<!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <script src="./js/vendor/jquery.js"></script>
    <script src="./js/vendor/what-input.js"></script>
    <script src="./js/vendor/foundation.js"></script>
    <script  src="./js/app.js"></script>
    <script src="./js/logout.js"></script>
</body>

</html>